.react-switch-bg {
    height: 24px !important;
    width: 55px !important;
    border-radius: 25px !important;
    background-color: #d8d8d8 !important;
}
.react-switch-handle {
    height: 22px !important;
    width: 22px !important;
    top: 6px !important;
    left: 7px !important;
}